.yazı{
    font-size: 30px;
    color: greenyellow;
    font-weight: bold;
    text-shadow: 3px 3px 2px;
}

.yazı2{
    font-size: 30px;
    color: greenyellow;
    font-weight: bold;
    text-shadow: 2px 3px 3px red, -2px -3px 3px green;
}

.kutu{
    width: 100px;
    height: 100px;
    background-color: hotpink;
    margin-top: 20px;
    box-shadow: 10px 10px 10px black;
    border-radius: 10px;
}