.thead{
    background-color: rgb(62, 60, 60);
    color: white;
}
.table{
    width: 600px;
    height: 300px;
}
.tfoot{
    background-color: rgb(62, 60, 60);
    color: white;
    text-align: right;
}
.teksatır{
    background-color: rgb(180, 175, 175);
}
.ciftsatır{
    background-color: rgb(208, 202, 202);
}

.button1{
    float: right;
    padding: 2px 2px;
    text-align: center;
    margin-top: 5px;
    width: 200px;
    background-color: rgb(227, 22, 22);
}
.button2{
    float: right;
    padding: 2px 2px;
    text-align: center;
    margin-top: 5px;
    width: 170px;
    background-color: rgb(227, 22, 22);

}
.miktar{
    text-align: center;
}

.aratoplam{
    text-align: right;
}

.ikon{
    
    margin-top: 2px 2px;
}

.birimfiyat{
    text-align: right;
}
.urunadı{
    width: 200px;
}
.aratoplam{
    width: 100px;
}

